*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
body{}
header{}
.header{    height: 90vh;
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;

}
header section{
    width: 30%;
    margin: 0px auto;
    padding: 300px 0px 0px 650px;
}
header section h1{
    color:#151414;
text-align: right;
font-weight: 700;
}
header section h2{
    color: #444343;
text-align: right;
font-size: 16px;
font-weight: 400;
}
header section div{    text-align: right;}
.btn-primary{
    color: #FFF;
    text-align:center;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.section{    display: flex;
    justify-content: space-between;
    margin: 110px 245px;
    gap: 30px;

}
.section div{

}
.my-future-img img{

}
.my-future{    margin: 15%;}
.my-future h1{color: #151414;
    font-size: 40px;
    font-weight: 700;}
.my-future h2{color: #444343;
    font-size: 16px;
    font-weight: 400;}
.my-future h3{color: #444343;
    font-size: 16px;
    font-weight: 400;}
.my-plans{}
.my-plans h1{  text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 5%;}
.my-plans-name img{}
.my-plans-name h1{       color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700; }
.my-plans-name h2{color:  #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;}
.my-plans-container{    display: flex;
    gap: 2%;
    justify-content: space-between;
    width: 72%;
    margin: 0px auto;
    text-align: center;
}
.mindset{background: url(../images/watch.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    height: 250px;
    margin: 5% auto;
}
.mindset h2{color: #f3f3f3;
    font-size: 40px;
    font-weight: 700;
    padding: 3%;
    width: 38%;
   }
.btn{    border-radius: 1px;
    background: #FFF;
    border: none;
    color: #ff4000;
    margin-left: 3%;
    padding: 1%;
    font-weight: 400;}
.mindset div{
    background: linear-gradient(124deg, #e23b04, transparent);
    height: 250px;
 }
footer{   display: flex;
    background: #151414;
    gap: 2%;
    justify-content: space-around;
    padding: 6%;}
.future{  width: 50%;}
.future h1{
    color: #F8F8F8;
font-size: 45px;
font-weight: 700;
}
.future h2{color: #FFF;
    font-size: 16px;
    font-weight: 400;}
.future div{}
.future div img{}

.subscribe{ color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-left: -25%;   }
.subscribe h1{}
.subscribe input{    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    width: 121%;
    padding: 10%;
}
.subscribe button{    border-radius: 8px;
    background: #FFF;
    padding: 6%;
    width: 56%;
    color: #ff4000;
    font-weight: 600;
    font-size: 15px;}






































