*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
body{}
header{}
.header{    height: 90vh;
    background: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;

}
header section{
    width: 30%;
    margin: 0px auto;
    padding: 300px 0px 0px 650px;
}
header section h1{
    color:#151414;
text-align: right;
font-weight: 700;
}
header section h2{
    color: #444343;
text-align: right;
font-size: 16px;
font-weight: 400;
}
header section div{    text-align: right;}
.btn-primary{
    color: #FFF;
    text-align:center;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.section{    display: flex;
    justify-content: space-between;
    margin: 110px 245px;
    gap: 30px;

}
.section div{

}
.my-future-img img{

}
.my-future{    margin: 15%;}
.my-future h1{color: #151414;
    font-size: 40px;
    font-weight: 700;}
.my-future h2{color: #444343;
    font-size: 16px;
    font-weight: 400;}
.my-future h3{color: #444343;
    font-size: 16px;
    font-weight: 400;}
.my-plans{}
.my-plans h1{  text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin: 5     %;}
.my-plans-name img{}
.my-plans-name h1{       color: #151414;
    text-align: center;
    font-size: 30px;
    font-weight: 700; }
.my-plans-name h2{color:  #737272;
    text-align: center;
    font-size: 25px;
    font-weight: 500;}
.my-plans-container{    display: flex;
    gap: 2%;
    justify-content: space-between;
    width: 72%;
    margin: 0px auto;
    text-align: center;
}











































